[Unit]
Description=ACME HTTP Challenge Server
After=network-online.target
Wants=network-online.target

[Service]
User=acme
Group=acme
ExecStart=/usr/bin/python3 -m http.server 8085 --directory /var/www/certbot
Restart=always
RestartSec=2

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/www/certbot

[Install]
WantedBy=multi-user.target
