[Unit]
Description=Initial Ops Bootstrap
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bootstrap-runtime.sh
RemainAfterExit=true

[Install]
WantedBy=ops.target
