[Unit]
Description=Hugo Static Site
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f hugo
ExecStart=/usr/bin/docker run --rm \
  --name hugo \
  -p 127.0.0.1:8080:80 \
  -v /opt/hugo/site/public:/usr/share/nginx/html:ro \
  nginx:alpine
ExecStop=/usr/bin/docker stop hugo
Restart=always

[Install]
WantedBy=bootstrap.service
