[Unit]
Description=Ops Stack Entry Point
Wants=platform-api.service hugo.service haproxy.service
After=platform-api.service hugo.service

[Install]
WantedBy=multi-user.target
