[Unit]
Description=ACME Webroot Challenge Server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/certbot
ExecStart=/usr/bin/python3 -m http.server 8085
Restart=no

[Install]
WantedBy=multi-user.target