[Service]
Type=oneshot
ExecStart=/usr/bin/certbot certonly \
  --standalone \
  --non-interactive \
  --agree-tos \
  --email admin@onwuachi.com \
  -d onwuachi.com \
  -d www.onwuachi.com
ExecStartPost=/bin/systemctl reload haproxy.service
